@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: white;
  --primary-color-dark: black;
  --secondary-color: #ebebfa;
  --secondary-color-dark: #1e1e1e;
  --container-color-dark: #232323;
  --bio-color: #f7f7ff;
  --bio-color-dark: #323232;
  --black: black;
  --contact-color-dark: #1e1e1e;
  --background-color: #ffffff;
  --theme: "dark";
  --headline-text: "Web designer & developer from India";
}

.bg-container {
  background: #faf9f9;
}

.bg-black-varient-1 {
  background: #121826;
}

/* Apply this to any container you want to animate */
.animated-bg {
  background: linear-gradient(270deg, #3d3d3d, #e0e0e0, #000000, #fffbf8);
  background-size: 600% 600%;
  animation: gradientAnimation 8s ease-in-out infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
