@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid red;
} */

/* Customize the overall scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  height: 16px; /* Height of the horizontal scrollbar */
}

/* The track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background-color: transparent; /* Track color */
  border-radius: 10px; /* Rounded corners */
  padding-right: 5px; /* Adds space on the right of the scrollbar */
}

/* The thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Thumb color */
  border-radius: 10px; /* Rounded corners */
}

/* When the thumb is hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}

/* Firefox scrollbar styles */
body {
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: #888; /* Thumb and track colors */
}



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: white;
  --primary-color-dark: black;
  --secondary-color: #ebebfa;
  --secondary-color-dark: #1e1e1e;
  --container-color-dark: #232323;
  --bio-color: #f7f7ff;
  --bio-color-dark: #323232;
  --black: black;
  --contact-color-dark: #1e1e1e;
  --background-color: #ffffff;
  --theme: "dark";
  --headline-text: "Web designer & developer from India";
}

.bg-container {
  background: #faf9f9;
}

.bg-black-varient-1 {
  background: #121826;
}

/* Apply this to any container you want to animate */
.animated-bg {
  background: linear-gradient(270deg, #3d3d3d, #e0e0e0, #000000, #fffbf8);
  background-size: 600% 600%;
  animation: gradientAnimation 8s ease-in-out infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}


.scroll-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.scrolling-text {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  animation: scrollText 10s linear infinite;
}

@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.frontend-text {
  transform: translateX(-50%);
  transition: transform 1s ease;
}

.developer-text {
  transform: translateX(50%);
  transition: transform 1s ease;
}

[data-scroll-class="frontend-text"] {
  transform: translateX(0); /* Reset position when scrolled */
}

[data-scroll-class="developer-text"] {
  transform: translateX(0); /* Reset position when scrolled */
}
